body {
    background-color: var(--gray-light);
    color: var(--gray-dark);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 15px 30px;
    box-shadow: 0 2px 5px var(--shadow-default);
    margin-bottom: 20px;
}

